
/src/Tests/obj/Debug/Tests.pdb
/src/Tests/bin/Debug/Tests.dll
/src/Tests/bin/Debug/Tests.pdb
/src/Tests/bin/Debug/azureiisconfiguratorsync.dll
/src/Tests/bin/Debug/azureiisconfiguratorsync.pdb
/src/Tests/bin/Debug/azureiisconfiguratorsync.xml
/src/Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/Tests/obj/Debug/ResolveAssemblyReference.cache
/src/Tests/obj/Debug/Tests.csproj.FileListAbsolute.txt
/src/Tests/obj/Debug/Tests.dll
/src/WindowsAzure.DevelopmentFabric.IISConfigurator.Syncronizer/bin/Debug/Microsoft.Web.Administration.dll
/src/WindowsAzure.DevelopmentFabric.IISConfigurator.Syncronizer/bin/Debug/azureiisconfiguratorsync.dll
/src/WindowsAzure.DevelopmentFabric.IISConfigurator.Syncronizer/bin/Debug/azureiisconfiguratorsync.pdb
/src/WindowsAzure.DevelopmentFabric.IISConfigurator.Syncronizer/bin/Debug/azureiisconfiguratorsync.xml
/src/WindowsAzure.DevelopmentFabric.IISConfigurator.Syncronizer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/WindowsAzure.DevelopmentFabric.IISConfigurator.Syncronizer/obj/Debug/ResolveAssemblyReference.cache
/src/WindowsAzure.DevelopmentFabric.IISConfigurator.Syncronizer/obj/Debug/WindowsAzure.DevelopmentFabric.IISConfigurator.Syncronizer.csproj.FileListAbsolute.txt
/src/WindowsAzure.DevelopmentFabric.IISConfigurator.Syncronizer/obj/Debug/azureiisconfiguratorsync.dll
/src/WindowsAzure.DevelopmentFabric.IISConfigurator.Syncronizer/obj/Debug/azureiisconfiguratorsync.pdb
/src/azureiisconfiguratorsync.suo
/src/Tests/bin/Release/Tests.dll
/src/Tests/bin/Release/Tests.pdb
/src/Tests/bin/Release/azureiisconfiguratorsync.dll
/src/Tests/bin/Release/azureiisconfiguratorsync.pdb
/src/Tests/bin/Release/azureiisconfiguratorsync.xml
/src/Tests/obj/Release/ResolveAssemblyReference.cache
/src/Tests/obj/Release/Tests.csproj.FileListAbsolute.txt
/src/Tests/obj/Release/Tests.dll
/src/Tests/obj/Release/Tests.pdb